body {
  /*background-color: black;*/
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  /*background-color: cyan;*/
  display: grid;
  width: 812px;
  display: grid;
  grid-template-columns: 130px 360px 260px;
  column-gap: 35px;
}

.logo {
  /*background-color: red;*/
  font-family: usual light, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
}

/*.image {
  background-color: green;
}*/

.right {
  /*background-color: blue;*/
  display: flex;
  flex-direction: column;
}

h1,
#quote1,
.author,
.footer {
  margin: 0;
  padding: 0;
}

h1 {
  /*background-color: darkgoldenrod;*/
  position: relative;
  top: 17vh;
  font-family: Goudy Old Style, Garamond, Times New Roman, serif;
  opacity: 0.3;
}

article {
  flex-grow: 1;
}

#quote1 {
  /*background-color: chartreuse;*/
  position: relative;
  top: 18vh;
  font-family: Baskerville, Roman, serif;
  font-size: 20px;
}

.author {
  /*background-color: azure;*/
  position: relative;
  top: 19vh;
  font-family: Adobe Jenson Pro "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  opacity: 0.2;
}

.year {
  /*background-color: azure;*/
  position: relative;
  top: 18vh;
  font-family: Microsoft Uighur, sans-serif;
  opacity: 0.2;
}

.footer {
  /*background-color: hotpink;*/
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.1;
}

main div.logo {
  border-right: 1px dotted #cccccc;
}
