body {
  background-color: black;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  background-color: cyan;
}

.logo {
  background-color: red;
}

.image {
  background-color: green;
}

.quote {
  background-color: blue;
}
