body {
  background-color: black;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  background-color: cyan;
  display: grid;
  grid-template-columns: 13.2vw 18.2vw 26vw;
  width: calc(13.2vw + 18.2vw + 26vw + 2.6vw);
  gap: 1.3vw;
}

.logo {
  background-color: red;
  font-family: usual light, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
}

.image {
  background-color: green;
}

.right {
  background-color: blue;
  display: flex;
  flex-direction: column;
}

h1,
#quote1,
.author,
.footer {
  margin: 0;
  padding: 0;
}

h1 {
  background-color: darkgoldenrod;
  position: relative;
  top: 17vh;
  font-family: Baskerville Old Regular, sans serif;
}

article {
  flex-grow: 1;
}

#quote1 {
  background-color: chartreuse;
  position: relative;
  top: 18vh;
  font-family: Goudy Old Style "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif,
    sans-serif;
}

.author {
  background-color: azure;
  position: relative;
  top: 19vh;
  font-family: Adobe Jenson Pro "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.footer {
  background-color: hotpink;
  font-family: Arial, Helvetica, sans-serif;
}

.dotted-line-vertical {
  border-left: 2px dotted black;
  position: relative;
  left: 66px;
}
